.header{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    position: fixed; 
    background-color: #ffff;
    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    border-bottom-color: rgb(208, 208, 208);
    z-index: 1;
}
.left-section{
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-section{
    flex:1;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.hamburger-menu,
.youtube-logo{
    height: 28px;
}
.hamburger-menu{
    margin-left: 36px;
    margin-right: 30px;
}
.search-button{
    height: 48px;
    width: 70px;
    background-color: #ffff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(197, 197, 197);
    margin-left: -1;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.1);
    margin-right: 13px;
}
.search-icon{
    height: 35px;
    margin-top: 4px;
}
.voice-search-button{
    height: 48px;
    width: 48px;
    border-radius: 24px;
    border: none;
    background-color: #ffff;
}
.voice-search-icon{
    height: 34px;
}
.voice-search-button:hover{
    border-color: rgb(135, 135, 135);
    background-color: rgb(179, 179, 179);
}
.search-bar{
    flex: 1;
    height:  44px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(197, 197, 197);
    font-size: 16px;
    padding-left: 10px;
    border-radius: 3px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.1);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
    padding-left: 10px;
}
.right-section{
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.upload-icon{
    width: 35px;
}
.app-icon{
    width: 35px;
}
.notifications-icon{
    width: 35px;
}
.profile{
    width: 50px;
    border-radius: 50%;
    margin-right: 30px;
}
.notification-controls{
    position:relative;
}
.notification-count{
    position:absolute;
    top: -2px;
    right: -4px;
    background-color: rgb(214, 0, 0);
    color: white;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}